/* CSS RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-b;
}

.movie__container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(red, yellow);
  position: relative;
  display: flex;
  align-items: center;
}

.movie__card__container {
  display: grid;
  gap: 10px 20px;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
}

.movie__card img {
  width: 100%;
  height: 600px;
}
.movie__card h2,
p {
  width: 100%;
  height: 100px;
  color: white;
}
.movie__card .move__card__info {
  width: 100%;
  height: 100px;
}
.card__btn-left {
  position: absolute;
  top: 50%;
  left: 0%;
  width: 28px;
  height: 28px;
  background-color: rgb(228, 220, 220);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  cursor: pointer;
  font-size: 12px;
}

.card__btn-right {
  position: absolute;
  top: 50%;
  right: 0%;
  width: 28px;
  height: 28px;
  background-color: rgb(228, 220, 220);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  cursor: pointer;
  font-size: 12px;
}
