.posts {
  display: grid;
  gap: 2.5rem;
  margin-bottom: var(--fs-800);
}

.post__card {
  border: var(--fs-200) solid var(--nav-color);
  border-top-width: 2px;
  padding: 1.5rem;
}

.posts .active {
  border: 1px solid var(--nav-color);
}

@media screen and (min-width: 35rem) {
  .posts {
    grid-template-columns: repeat(2, 1fr);
  }
}

.post__header {
  margin-bottom: 1rem;
}

.post__card:nth-child(odd) .post__header {
  color: var(--post-header-left);
}

.post__card:nth-child(even) .post__header {
  color: var(--post-header-right);
}

.post__title {
  font-size: var(--fs-800);
}

.post__date {
  font-size: var(--fst-800);
  color: var(--nav-link-color);
}

.post__content {
  margin-top: var(--fs-300);
  margin-bottom: var(--fs-lg);
}
