:root {
  --fw-400: 500;
  --fw-700: 600;

  --fs-200: 0.4rem;
  --fs-300: 0.6875rem;
  --fs-400: 0.8125rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 1.75rem;
  --fs-800: 2rem;
  --fs-m: 2.5rem;
  --fs-lg: 3rem;

  --body-fs: var(--fs-lg);
  --nav-fs: var(--fs-500);

  --green-1: #219665;
  --green-2: #27ae75;
  --green-3: #6fcf9b;

  --white: #ffffff;
  --black: #000000;
  --nav-color: #85e0e0;
  --nav-link-color: #248f8f;
  --post-header-left: blue;
  --post-header-right: orange;
  --content-author-lightblue: blue;
  --btn-active: blue;

  --mobile: 320px;
  --mobile-l: 640px;
  --tablet: 768px;
  --tablet-m: 960px;
  --tablet-l: 1024px;
  --desktop: 1280px;
  --max-site-width: 1800px;

  --base-font: "Nunito Sans", sans-serif;
}
